html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    color: black;
    background-color: #F8F8F8;
    width: auto;
}

#header {

    height: 50px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    text-align: center;

}

#logo {
    display: inline-block;
    width: 51px;
    height: 47px;
    background-image: url(../img/hhLogo.png);
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 3px;
}

#ua {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 32px;
    height: 32px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
}

.search-form {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

input[type=text] {
    width: 167px;
    height: 35px;
    vertical-align: middle;
    border: solid 1px #cccccc;
    margin-right: 0;
    padding-left: 10px;
}

input[type=text], select:focus {
    outline: 0;
}

select {
    height: 39px;
    width: 105px;
    -webkit-appearance: none;
    border: solid 1px #cccccc;
    border-left-style: none;
    border-radius: 0;
    margin-left: -5px;
    padding-left: 15px;
    text-align: center;
    background: url("../img/arrow_down.png") no-repeat 90% 50%;
    appearance: none;
    overflow: hidden;
}

option {
    display: block;
    height: 39px;
    width: 105px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#search-button {
    display: inline-block;
    color: white;
    background-color: #0099ff;
    height: 39px;
    width: 100px;
    border-radius: 5%;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 1px;
    text-decoration: none;
}

#wide-search-button {
    display: inline-block;
    line-height: 12px;
    font-size: 11px;
    text-align: left;
    vertical-align: middle;
    color: #0099FF;
    text-decoration: none;
}

#country, #language {
    display: inline-block;
    text-align: right;
    color: #989898;
}

#country {
    text-decoration: none;
    padding-left: 100px;
    padding-right: 30px;
}

#main-menu {
    width: 100%;
    line-height: 40px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #FFFFFF;
}

#main-menu li {
    display: inline;
    margin-right: 30px;
}

#main-menu > ul :last-child {
    margin-left: 150px;
}

#main-menu li > ul {
    display: none;
}

#columns-wrapper {
    padding: 0;
    margin: 0;

}

#wide-image {
    padding: 0;
    width: 1405px;
    height: 440px;
    background: url("../img/anonymous-background.jpg") no-repeat;
    color: white;
}

#first-column {
    display: inline-block;
    width: 600px;
}

#dream-work {
    display: inline-block;
    margin: 0 0 0px 70px;
    padding-top: 30px;
    font-size: 5em;
    text-indent: 0;
}

#resume-vacancy-buttons {
    margin: 100px 0px 0px 0px;
    font-size: 13pt;

}

#resume-vacancy-buttons a {
    padding: 15px 25px;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    border: solid 1px white;
}

#resume-vacancy-buttons a:hover {
    background-color: white;
    color: black;
}

#statistic {
    margin-top: 20px;
    padding-left: 30px;
    border-left: 1px solid white;
}

.numbers {
    font-size: 33px;
    padding-top: 15px;
}

.letters {
    font-size: 16px;
    padding-top: 5px;
}

#second-column {
    display: inline-block;
    vertical-align: top;
    margin-left: 200px;
    margin-top: 50px;
}

#login-menu {
    width: 310px;
    display: block;
    height: 336px;
    background-color: rgba(55, 55, 55, 0.5);

}

#login-menu-wrapping {
    padding: 30px 20px;
}

#registration {
    padding-left: 30px;
    text-decoration: none;
    color: #989898;
}

#social-networks a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 2px;
}

.fa{


}
.fa:before,span.icon-google-plus:before{
    font-size: 42px;
}

.fa-facebook-official {
}

.fa-google-plus-square{
    color: red;
}

#social-networks span{
    display: inline-block;
  /*  border:1px solid #FF0000;*/
    height: 35px;
    overflow: hidden;
    position: relative;
    width: 36px;
    border-radius: 2px;
}

#social-networks i{
    border: 1px solid rgba(55, 55, 55, 0.5);
    padding: 0;
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-color: white;
}

i.fa-facebook-official{
    color: #3B5998;
    background-color:#FF0000;
    position: absolute;
    top:-4px;
    left:0px;
    height: 41px;
    width:36px;
}

i.fa-facebook-official:before{
    background-color:#FFFFFF;
    position: absolute;
    top:0px;
    left:-1px;
    height: 41px;
    width:36px;
}


#vk {
    background: url("../img/VK.png") no-repeat;
}



#mail-ru {
    background: url("../img/mail-ru.png") no-repeat;
}

#odnokl {
    background: url("../img/Odno.png") no-repeat;
}

/*
body{
    border: solid 3px green;
}*/
