html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    color: black;
    background-color: #F8F8F8;
    width: auto;
}

#header {

    height: 50px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    text-align: center;

}

.logo {
    display: inline-block;
    width: 51px;
    height: 47px;
    background-image: url(../img/hhLogo.png);
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 3px;
}

.ua {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 32px;
    height: 32px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
}

.search-form {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

header.input[type=text] {
    width: 167px;
    height: 35px;
    vertical-align: middle;
    border: solid 1px #cccccc;
    margin-right: 0;
    padding-left: 10px;
}

input[type=text], select:focus {
    outline: 0;
}

select {
    height: 39px;
    width: 105px;
    -webkit-appearance: none;
    border: solid 1px #cccccc;
    border-left-style: none;
    border-radius: 0;
    margin-left: -5px;
    padding-left: 15px;
    text-align: center;
    background: url("../img/arrow_down.png") no-repeat 90% 50%;
    appearance: none;
    overflow: hidden;
}

option {
    display: block;
    height: 39px;
    width: 105px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#search-button {
    display: inline-block;
    color: white;
    background-color: #0099ff;
    height: 39px;
    width: 100px;
    border-radius: 5%;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 1px;
    text-decoration: none;
}

#wide-search-button {
    display: inline-block;
    line-height: 12px;
    font-size: 11px;
    text-align: left;
    vertical-align: middle;
    color: #0099FF;
    text-decoration: none;
}

#country, #language {
    display: inline-block;
    text-align: right;
    color: #989898;
}

#country {
    text-decoration: none;
    padding-left: 100px;
    padding-right: 30px;
}

#main-menu {
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 1px solid #FFFFFF;

}

#main-menu ul {
    line-height: 30px;
    vertical-align: bottom;
}

#main-menu li {
    display: inline;
    margin-right: 30px;

}

#main-menu > ul :last-child {
}

#menu-input-field {
    border-radius: 5px;
}

#main-menu li > ul {
    display: none;
}

#wide-image-columns-wrapper {
    padding: 0;
    margin: 0;
    height: 415px;
    border-bottom: solid 20px lightgrey;

}

#wide-image {
    padding: 0;
    background: url("../img/anonymous-background.jpg") no-repeat;
    background-size: cover;
    color: white;
}

#first-column {
    display: inline-block;
    width: 600px;
}

#dream-work {
    display: inline-block;
    margin: 0 0 0px 70px;
    padding-top: 30px;
    font-size: 5em;
    text-indent: 0;
}

#resume-vacancy-buttons {
    margin: 140px 0px 0px 0px;
    font-size: 13pt;

}

#resume-vacancy-buttons a {
    padding: 15px 25px;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    border: solid 1px white;
}

#resume-vacancy-buttons a:hover {
    background-color: white;
    color: black;
}

#statistic {

    padding-left: 30px;
    border-left: 1px solid white;
}

.numbers {
    font-size: 33px;
    padding-top: 15px;
}

.letters {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

#second-column {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-top: 50px;
}

#third-column {
    display: inline-block;
    vertical-align: top;
    margin-left: 170px;
    margin-top: 30px;
    width: 310px;
}

#login-menu {
    display: block;
    height: 336px;
    background-color: rgba(55, 55, 55, 0.5);
}

#login-menu-wrapping {
    padding: 25px 20px;
}

#registration {
    padding-left: 30px;
    text-decoration: none;
    color: #989898;
}

#social-networks {
    margin-top: 25px;
    margin-bottom: 25px;
}

#social-networks a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin-right: 10px;
}

.fa:before {
    font-size: 44px;
}

.fa-facebook-official {
}

.fa-google-plus-square {
    color: red;
}

#social-networks span {
    display: inline-block;
    /*  border:1px solid #FF0000;*/
    height: 35px;
    overflow: hidden;
    position: relative;
    width: 36px;
    border-radius: 5px;
}

#social-networks i {
    border: 1px solid rgba(55, 55, 55, 0.5);
    padding: 0;
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-color: white;
}

i.fa-facebook-official {
    color: #3B5998;
    background-color: #FF0000;
    position: absolute;
    top: -4px;
    left: 0px;
    height: 41px;
    width: 36px;
}

i.fa-facebook-official:before {
    background-color: #FFFFFF;
    position: absolute;
    top: -2px;
    left: -1px;
    height: 41px;
    width: 36px;
}

i.fa-google-plus-square {
    color: red;
    background-color: #FF0000;
    position: absolute;
    top: -4px;
    height: 41px;
    width: 36px;
}

i.fa-google-plus-square {
    background-color: #FFFFFF;
    position: absolute;
    top: -4px;
    left: -1px;
    height: 41px;
    width: 36px;
}

#vk {
    background: url("../img/VK.png") no-repeat;
}

#mail-ru {
    background: url("../img/mail-ru.png") no-repeat;
}

#odnokl {
    background: url("../img/Odno.png") no-repeat;
}

#or-email {
    color: #989898;
}

#e-mail, #pwd {
    box-sizing: border-box;
    width: 270px;
    height: 35px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#remember-me {
    margin-top: 10px;
}

#enter-button {
    border: 0;
    margin-top: 15px;
    width: 70px;
    height: 34px;
    background-color: transparent;
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

#pwd-remember {
    color: dodgerblue;
    margin-left: 25px;
}

.column-wrapper {
    display: block;
    width: 1320px;
    margin: 30px auto;
    padding: 0;
    position: relative;
    min-width: 1000px;
    white-space: nowrap;
}

#vacancies-wrapper {
    display: inline-block;
    width: 960px;
}

.header {
    display: block;

}

#vacancies-wo-header {
    columns: 270px;
    -webkit-columns: 270px;
    -webkit-column-gap: 53px;
    -moz-column-gap: 53px;
    column-gap: 53px;
    overflow: hidden;
    height: 550px;
}

.vacancy-wrapper {
    display: block;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    -webkit-column-break-after: avoid;
    white-space: normal;
}

.vacancy-link {
    text-decoration: none;
    color: black;
}

span.vacancy, span.salary {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.employer > a {
    font-size: 11px;
    color: grey;
    text-decoration: none;
}

.vacancies-advertise-wrapper {
    display: inline-block;
    width: 320px;
    height: 665px;
    vertical-align: top;
    margin-left: 35px;;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.advertising-block {
    border: solid 1px grey;
    display: block;
    width: 309px;
    height: 262px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#top-wrapper {
    display: block;
    width: 1320px;
    border-top: 1px solid darkgrey;
}

#top-left-wrapper {
    display: inline-block;
    width: 960px;
}

#logo-wrapper {
    display: inline-block;
    vertical-align: top;
}

#job-in-companies-columns {
    display: inline-block;
    margin-left: 70px;
    columns: 250px;
    -webkit-columns: 250px 2;
    -webkit-column-gap: 70px;
    -webkit-column-fill: auto;
}

#job-in-companies-list {
    list-style: none;
    margin: 0;
}

#job-in-companies-list li {
    margin-bottom: 8px;
    display: list-item;
    -webkit-column-break-inside: avoid;

}

.company-name > a {
    text-decoration: none;
    color: black;
    line-height: 21px;
    font-size: 14px;
}

.vacancies-quantity {
    display: inline-block;
    font-size: 14px;
    text-align: right;
}

#banners {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
}

.mini-banner {
    display: inline-block;
    width: 310px;
    height: 142px;
    display: inline-block;
}

.banner-text > a {
    display: inline-block;
    width:120px;
    text-decoration: none;
    color:black;
    line-height: 20px;
}

.mini-image{
    display: inline-block;
}
.banner-text{
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: 14px;
    margin: 10px 15px;
}