html,body{
margin:0px;
padding:0px;
}

body{
font-size:12px;
font-family:"Verdana", sans-serif;
color:black;
background-color:#F8F8F8;
}

header{
display:block;
margin:14px auto;
line-height:50px;
}

#logo{
display:inline-block;
width:51px;
height:48px;
background-image:url(img/hhLogo.png);
vertical-align:middle;
}

#ua{
display:inline-block;
margin-left:5px;
vertical-align:middle;
width:33px;
height:33px;
background-color:red;
color:white;
border-radius:50px;
}

.search-form{
display:inline-block;
vertical-align:middle;
}